*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}
/* Navbar css */
.navbar{
    background-color: #FFA835;
    padding: 12px 15px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
}

#phoneNo{
    display: inline-block;
    font-size: 15px;
    margin-top: 17px;
    color: #B54402;
    margin-left: 30px;
    position: relative;
    font-family:sans-serif;
    letter-spacing: 0.5px;
}
#phoneNo::after{
    width: 35px;
    content: '';
    background: #B54402;
    height: 1px;
    position: absolute;
    left: 0;
    margin-top: 8px;
}
#phoneNo span{
    margin-left: 50px;
}

.logo{
    display: inline-block;
    margin-right: 20px;
}

.nav-items{
    margin-left: 120px;
    margin-top: 5px;
}

.nav-items li{
    display: inline-block;
    list-style: none;
    margin-right:20px ;
    cursor: pointer;
    font-weight: bold;
}

.nav-items li a{
    text-decoration: none;
    color: rgb(44, 37, 37);
    font-family:Arial;
    font-size: 14px;
   
}

.nav-items li a button{
    width: 130px;
    padding: 10px 0px;
    color: white;
    background: #523EE8;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.nav-items li:last-child a{
    color: white;
}

.nav-items li:last-child a:hover{
    color: green;
    transition: 0.5s;
}

.header{
    background-color: #FFA835;
    height: 113vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 15px;
}

.desc{
    color: #DE8100;
    font-size: 65px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
    transform: translateY(30px);
}

.header-img img{
    position: absolute;
    left: 23%;
    top: 0;
    width: 650px;
}

.brave{
    font-family:inherit;
    width: 378px;
    font-family:Arial, sans-serif;
    font-size: 21px; 
    position: relative; 
    top: 150px;
}


.brave::before{
    content: '';
    width: 40px;
    position: absolute;
    background: rgb(214, 9, 3);
    height: 7px;
    bottom: 160px;
}

.dare-for-more{
    font-family:Arial, sans-serif;
    width: 250px;
    position: absolute;
    right: 55px;
    bottom: 280px;
}

.dare-for-more h1{
    color: #523ee8;
}

.dare-for-more p{
    margin-top: 15px;
    font-size: 15px;
    line-height:25px;
    color: #4C1B00;
}

.dare-for-more div{
    margin-top: 15px;
    font-size: 13px;
    color: rgb(214, 9, 3);
    font-weight: bold;
}

.dare-for-more div span{
    margin-left: 14px;
    font-size: 17;
}

.body-post-exam{
    background-color: #FDFDFD;
    width: 102%;
    background-image: url(../images/work.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position:relative ;
}

.body-post-exam{
    font-family: Arial, sans-serif;
}

.body-post-exam > .text{
   position: absolute;
   top: 200px;
   left: 120px;
   width: 600px;
}

.body-post-exam > .text > h1:nth-last-child(3){
    margin-top: 50px;
}

.body-post-exam > .text > h1:nth-last-child(2){
    color: orange;
    margin-top: 40px;
}

.body-post-exam > .text > button{
    background-color: #00AA89;
    color: white;
    width: 150px;
    border: none;
    height: 40px;
    font-size: 15px;
    border-radius: 20PX;
    margin-top: 30PX;
}

.program-structure{
    margin: 70px 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.programs{
    display: flex;
    justify-content: space-around;
}

.program{
    position: relative;
}

.program-text p{
    font-size: 13px; 
    color: gray;
}

.watermark{
    font-size: 120px;
    color: gray;
    opacity: 0.3;
}

.program-img3{
    position: absolute;
    top: 30px;
    left: 50px;
}

.program-img1{
    position: absolute;
    top: 40px;
    left:70px;
}

.program-img2{
    position: absolute;
    top: 25px;
    left:80px;
}

.program-text p{
    margin-top: 15px;
}

.program-text h4{
    color: rgb(75, 72, 72);
}

.what-we-do{
    display: flex;
}
.what-we-do-text{
    height: 367px;
    width:510px;
    background-color: rgb(246, 245, 254);
    padding: 100px 70px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.what-we-do-text > h2{
    color: rgb(56, 54, 54);
    margin-top: 20px;
}

.what-we-do-text > p{
    font-size: 14px;
    color: gray;
    line-height: 25px;
    margin-top: 20px;
}

.last-block{
    margin-top: 25px;
    font-size: 14px;
    color: gray;
    line-height: 25px;
    position: relative;
}

.last-block::before{
    content: '';
    height: 100px;
    width: 2.5px;
    background-color: #FB7C35;
    position: absolute;
    left: -18px;
    top: 10px;
}
